@import "mixins";
@import "variables";
@import "spinner";

.container--main {
  padding: 0 $xsmall_padding $xsmall_padding $xsmall_padding;
  @media #{$small_and-down} {
    margin-top: $xsmall_margin;
  }
}
#analytics-component {
  background-color: #f2f2f2;
  border: 1px solid $is-gray;
  border-radius: 3px;
  padding: $xsmall_padding $default_padding;
  text-align: center;
  @media #{$small_and-down} {
    padding: $xsmall_padding;
  }
  .search {
    width: 100%;
    form {
      display: flex;
      justify-content: center;
      -webkit-justify-content: center;
      label {
        color: #b1b1b1;
        font-weight: 300;
      }
    }
  }
  .results {
    margin-top: $default_margin;
    .results__header {
      background-color: $is-blue;
      border-radius: 3px 3px 0 0;
      padding: 10px;
      h4 {
        margin: 0;
        color: white;
        font-size: $body_size;
        font-weight: $normal;
        @media #{$small_and-down} {
          font-size: $xxsmall_size;
        }
      }
    }
    .results__details {
      background-color: $white;
      border-radius: 3px;

      .results__item {
        padding: $xsmall_padding;
        border-bottom: 1px solid $is-gray;
        font-size: $body_size;
        &.odd {
          background-color: rgba(255, 117, 0, 0.1);
        }
        .details__title {
          padding: 0;
          text-align: left;
          border-right: 1px solid $is-gray;
          @media #{$small_and-down} {
            font-size: $xxsmall_size;
          }
        }
        .details__value {
          padding: 0 0 0 $xsmall_padding;
          text-align: left;
          @media #{$small_and-down} {
            font-size: $xxsmall_size;
          }
        }
      }
    }
  }
}
.error-box {
  margin-top: $default_margin;
  p {
    font-weight: $medium;
    color: darkred;
  }
}
.is-input {
  border: 1px solid #d4d4d4;
  padding: 0 .7142em;
  font-family: 'Open Sans',Verdana,'DejaVu Sans',Arial,Helvetica,sans-serif;
  background-color: $white;
  border-radius: 3px;
  outline: 0;
  margin: 0;
  box-sizing: border-box;
  height: 36px;
  max-width: 300px;
  min-width: 165px;
  font-size: $xxsmall_size;
  @media #{$medium-and-up} {
    width: 300px;
  }
}
.is-btn {
  margin: 0;
  -webkit-appearance: none;
  width: auto;
  display: inline-block;
  vertical-align: bottom;
  border: 1px solid transparent;
  padding: .45em 2em;
  font-family: 'Open Sans',Verdana,'DejaVu Sans',Arial,Helvetica,sans-serif;
  line-height: 1.42857;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  text-decoration: none;
  @media #{$small_and-down} {
    padding: 0 4px;
  }
}
.is-btn.is-btn--search {
  border-radius: 0px 3px 3px 0;
  border-color: $is-orange;
  background: $is-orange;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  margin-left: -1px;
  @media #{$small_and-down} {
    font-size: 12px;
  }
}
#history-info {
  margin-bottom: $xsmall_margin;
  span {
    font-size: $xxxsmall_size;
  }
}
.progress-bar {
  position: relative;
  margin: $default_margin 0;
  .progress__label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    span {
      font-size: $small_size;
      color: $is-blue;
      font-weight: $medium;
    }
  }
}
.progress-status {
  span {
    font-size: $body_size;
    color: $is-blue;
    font-weight: $medium;
  }
}

.render-design.ng-move,
.render-design.ng-enter,
.render-design.ng-leave {
  transition:all linear 0.5s;
}
.render-design.ng-leave.ng-leave-active,
.render-design.ng-move,
.render-design.ng-enter {
  opacity: 0;
}
.render-design.ng-leave,
.render-design.ng-move.ng-move-active,
.render-design.ng-enter.ng-enter-active {
  opacity:1;
}