<section class="container container--main">
    <div id="analytics-component">
        <div class="search">
            <form>
                <input type="text" class="is-input" ng-model="$ctrl.url" placeholder="Type a website URL">
                <button class="is-btn is-btn--search">Analyse</button>
            </form>
        </div>
        <div class="results">
            <div class="results__header">

            </div>
            <div class="results__details">

            </div>
        </div>
    </div>
</section>