<section class="container container--main">
    <div id="analytics-component">
        <div class="search">
            <form>
                <label for="search-input">http://
                    <input type="text" name="search-input" class="is-input" ng-model="$ctrl.url" placeholder="Type a website URL" required>
                </label>
                <button class="is-btn is-btn--search" ng-click="$ctrl.beginAnalytics()">Analyse</button>
            </form>
        </div>
        <div class="spinner" ng-if="$ctrl.showSpinner">
            <div class="cube1"></div>
            <div class="cube2"></div>
        </div>
        <div class="progress-bar" ng-if="$ctrl.analytics.status === 'pending'">
            <round-progress
                    max="$ctrl.analytics.links.total"
                    current="$ctrl.analytics.links.verified"
                    color="#ff7500"
                    bgcolor="rgba(0, 52, 104, 0.1)"
                    radius="100"
                    stroke="20"
                    semi="false"
                    rounded="true"
                    clockwise="false"
                    responsive="false"
                    duration="800"
                    animation="easeInOutQuart"
                    animation-delay="0">
            </round-progress>
                <div class="progress__label">
                    <span>{{$ctrl.progress}}%</span>
                </div>
        </div>
        <div class="error-box" ng-if="$ctrl.errorMsg">
            <p>{{$ctrl.errorMsg}}</p>
        </div>
        <div class="results" ng-if="$ctrl.showResults">
            <div id="history-info">
                <span>Results computed on {{$ctrl.analytics.created_at | date:"yyyy-MM-dd 'at' h:mma"}}.</span>
            </div>
            <div class="results__header">
                <h4>Analytics Results</h4>
            </div>
            <div class="results__details">
                <div class="row results__item">
                    <div class="col-xs-4 details__title">
                        <span>HTML Version</span>
                    </div>
                    <div class="col-xs-6 details__value">
                        <span>{{$ctrl.analytics.htmlVersion}}</span>
                    </div>
                </div>
                <div class="row results__item odd">
                    <div class="col-xs-4 details__title">
                        <span>Page Title</span>
                    </div>
                    <div class="col-xs-6 details__value">
                        <span>{{$ctrl.analytics.title}}</span>
                    </div>
                </div>
                <div class="row results__item">
                    <div class="col-xs-4 details__title">
                        <span>Headings</span>
                    </div>
                    <div class="col-xs-6 details__value">
                        <span>{{$ctrl.analytics.headings.count}}</span>
                    </div>
                </div>
                <div class="row results__item odd">
                    <div class="col-xs-4 details__title">
                        <span>H1</span>
                    </div>
                    <div class="col-xs-6 details__value">
                        <span>{{$ctrl.analytics.headings.h1}}</span>
                    </div>
                </div>
                <div class="row results__item">
                    <div class="col-xs-4 details__title">
                        <span>H2</span>
                    </div>
                    <div class="col-xs-6 details__value">
                        <span>{{$ctrl.analytics.headings.h2}}</span>
                    </div>
                </div>
                <div class="row results__item odd">
                    <div class="col-xs-4 details__title">
                        <span>H3</span>
                    </div>
                    <div class="col-xs-6 details__value">
                        <span>{{$ctrl.analytics.headings.h3}}</span>
                    </div>
                </div>
                <div class="row results__item">
                    <div class="col-xs-4 details__title">
                        <span>H4</span>
                    </div>
                    <div class="col-xs-6 details__value">
                        <span>{{$ctrl.analytics.headings.h4}}</span>
                    </div>
                </div>
                <div class="row results__item odd">
                    <div class="col-xs-4 details__title">
                        <span>H5</span>
                    </div>
                    <div class="col-xs-6 details__value">
                        <span>{{$ctrl.analytics.headings.h5}}</span>
                    </div>
                </div>
                <div class="row results__item">
                    <div class="col-xs-4 details__title">
                        <span>H6</span>
                    </div>
                    <div class="col-xs-6 details__value">
                        <span>{{$ctrl.analytics.headings.h6}}</span>
                    </div>
                </div>
                <div class="row results__item odd">
                    <div class="col-xs-4 details__title">
                        <span>Internal Links</span>
                    </div>
                    <div class="col-xs-6 details__value">
                        <span>{{$ctrl.analytics.links.internal}}</span>
                    </div>
                </div>
                <div class="row results__item">
                    <div class="col-xs-4 details__title">
                        <span>External Links</span>
                    </div>
                    <div class="col-xs-6 details__value">
                        <span>{{$ctrl.analytics.links.external}}</span>
                    </div>
                </div>
                <div class="row results__item odd">
                    <div class="col-xs-4 details__title">
                        <span>Accessible Links</span>
                    </div>
                    <div class="col-xs-6 details__value">
                        <span>{{$ctrl.analytics.links.accessible}}</span>
                    </div>
                </div>
                <div class="row results__item">
                    <div class="col-xs-4 details__title">
                        <span>Inaccessible / timed out Links</span>
                    </div>
                    <div class="col-xs-6 details__value">
                        <span>{{$ctrl.analytics.links.inaccessible}}</span>
                    </div>
                </div>
                <div class="row results__item odd">
                    <div class="col-xs-4 details__title">
                        <span>Login form</span>
                    </div>
                    <div class="col-xs-6 details__value">
                        <span>{{$ctrl.analytics.loginForm | yes_no}}</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>